<li style="margin-top: 2%">
  <div class="row-fluid">
  <div class="span12">
    <div class="row-fluid message_list_header">
      <b>  <%= display_date_time(meeting.start_time) %></b>
    </div>
    <div class="row-fluid" style="padding: 2%">

      <div class="span3 hidden-phone">
        <%= image_tag User.find(meeting.user_id).user_pic.url,:class=>"img-responsive " %>
      </div>
      <div class="span9">
        <div class="row-fluid">
          <div class="span9">
            <span style="font-size: 1.4em;font-weight:bold "> <%= User.find(meeting.user_id).name.humanize %></b></span>
          </div>
          <div class="span2 offset1 hidden-phone">
            <%= show_meeting_acceptance_link(meeting) %>
            <%= show_meeting_rejection_link(meeting) %>
          </div>
        </div>
        <div class="row-fluid">
          <span style="font-size: 1.0em;font-weight: bold">  <%= link_to meeting.name,meeting_path(meeting),:class=>"non-navigatable",:onclick=>"toggleContent(this,event)" %></span>
        </div>


      </div>


    </div>
  </div>
</div>













</li>






