<%= form_for(@track) do |f| %>
  <% if @track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
      <% @track.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :starting_at %><br />
    <%= f.datetime_select :starting_at %>
  </div>
  <div class="field">
    <%= f.label :ending_at %><br />
    <%= f.datetime_select :ending_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
