<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @track.name %>
</p>

<p>
  <b>Description:</b>
  <%= @track.description %>
</p>

<p>
  <b>Starting at:</b>
  <%= @track.starting_at %>
</p>

<p>
  <b>Ending at:</b>
  <%= @track.ending_at %>
</p>


<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
