<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @recommend.user_id %>
</p>

<p>
  <b>Done:</b>
  <%= @recommend.done %>
</p>

<p>
  <b>Type:</b>
  <%= @recommend.type %>
</p>


<%= link_to 'Edit', edit_recommend_path(@recommend) %> |
<%= link_to 'Back', recommends_path %>
