
<li style="margin-top: 2%;z-index: 9990;cursor: pointer">
  <%= hidden_field_tag "link",link_to_go,:class=>"goto" %>
  <div class="row-fluid">
    <div class="span12">
      <div class="row-fluid message_list_header">
        <div class="span8">
        <b>  <%=  header_text.humanize  %></b>
        </div>
        <div class="span1 offset1 hidden-phone" style="margin-top: 7px;">
          <span><%= link_on_right  %></span>
        </div>
      </div>
      <div class="row-fluid" style="padding: 2%;z-index: 9999">

        <% if pic_to_show != "noPic" %>
        <div class="span2 hidden-phone">

          <%= image_tag pic_to_show,:class=>"img-responsive " %>
        </div>
        <% end %>


        <div class="span10">
          <div class="row-fluid">

              <span class="white-text" style="font-size: 1.2em;font-weight:bold "> <%= list_title %></b></span>
              <!--<span class="pull-right"><%#= link_on_right  %></span>-->

            <!--<div class="span2 offset1 hidden-phone pull-right" style="pointer-events:auto" >-->
              <!---->
            <!--</div>-->
          </div>
          <div class="row-fluid">
            <span class="white-text" style="font-size: 0.9em;font-weight: bold">  <%= list_info.truncate(80) %></span>
          </div>
          <div class="row-fluid" style="line-height: 12px;">
            <!--body-->
            <span style="font-size: 0.8em;line-height: 10px">  <%=  strip_tags(list_body.truncate(120)) %></span>
          </div>

        </div>


      </div>
    </div>
  </div>

</li>
