<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @asset.content %>
</p>

<p>
  <b>Type:</b>
  <%= @asset.type %>
</p>


<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
