<p id="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @feedback.event_id %>
</p>

<p>
  <b>User:</b>
  <%= @feedback.user_id %>
</p>

<p>
  <b>Rate:</b>
  <%= @feedback.rate %>
</p>


<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
