<%= form_for(@custom_page) do |f| %>
  <% if @custom_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@custom_page.errors.count, "error") %> prohibited this custom_page from being saved:</h2>

      <ul>
      <% @custom_page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :page_content %><br />
    <%= f.text_area :page_content %>
  </div>
  <div class="field">
    <%= f.label :display %><br />
    <%= f.check_box :display %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
