<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= content_for?(:title) ? yield(:title) : "Procialize" %></title>
  <%= include_gon %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
  <![endif]-->

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script>


      function toggleContent(link, event) {
          event.preventDefault();
          $(".existing_content").hide("slide", {direction: 'right'}, 1000);

          $.get(link, function (response) {
              $(".existing_content").html("<img src='assets/ajax_loader.gif'>");
              $(".existing_content").show();
              setTimeout(function () {
                  $(".existing_content").hide();
                  $(".existing_content").html(response);
                  $(".existing_content").show("slide", {direction: 'left'}, 1000);
//                        $('.textarea').wysihtml5();
                  $('.multiselect').multiselect({
                      enableFiltering: true
                  });
              }, 2000)
          });
      }
      $(function () {

          setTimeout(function () {
              $(".loader").hide();
          }, 2000);

          $('.carousel').carousel({
              interval: 5000,
              wrap: true
          });

          $('.download_brochure').on('click', function () {
              $.get('/download_brochure/' + $(this).attr('id'), function (data) {
              });
          });

      });


  </script>
  <% @color1 = Customizer.first.menu_color_one
     @color2 = Customizer.first.menu_color_two
     @font_color = Customizer.first.menu_font_color
     @header_color = Customizer.first.menu_header_color
  %>
  <!--styles written here are the customizable items ... set using the admin panel-->
  <style type="text/css">

      .alternate_colored_list > li:nth-child(odd) {
          background-color: <%= @color1 %>;
          color: <%= @font_color %>
      }

      .alternate_colored_list > li:nth-child(even) {
          background-color: <%= @color2 %>;
          color: <%= @font_color %>
      }

      body {
          color: <%= @font_color %>;
      }

      .message_alternate_colored_list > li  a {
          color: <%= @font_color %>
      }

      .message_list_header {
          background-color: <%= @color2 %>;
          padding: 2%;
          color: <%= @header_color %>;
          border: 0px solid white;
      }

      a {
          color: #000000;
      }

      a:hover {
          background-color: transparent;
      }

      .nav>li>a:hover {
          background-color: transparent;
      }

      .message_alternate_colored_list > li {
          border: 1px solid transparent;
          background-color: <%= @color1 %>;
         /* border-radius: 5px;*/
          color: <%= @font_color %>;
          cursor: pointer;

      }

  </style>

  <!-- For third-generation iPad with high-resolution Retina display: -->
  <!-- Size should be 144 x 144 pixels -->
  <%#= favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

  <!-- For iPhone with high-resolution Retina display: -->
  <!-- Size should be 114 x 114 pixels -->
  <%#= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

  <!-- For first- and second-generation iPad: -->
  <!-- Size should be 72 x 72 pixels -->
  <%#= favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <!-- Size should be 57 x 57 pixels -->
  <%#= favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

  <!-- For all other devices -->
  <!-- Size should be 32 x 32 pixels -->
  <%#= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
</head>
<body>
<div class="navbar navbar-fluid-top">
  <!--SMA Start-->
  <div class="navbar-inner title-bar">
    <div class="container-fluid">
      <a class="btn btn-navbar navbar-icon icon-list " data-target=".nav-collapse" data-toggle="collapse" style="color: #000000">
        <%#= link_to "/menu",:class=>"btn btn-navbar",:onclick=>"toggleContent(this,event)" do%>
        <!--<i class="icon-list"></i>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <%# end %>
      </a>
      <%
         @unread = Recipient.find_all_by_user_id_and_status(current_user.id, false).count
         @pending = Meeter.find_all_by_user_id_and_status(current_user.id, 0).count
      %>
      <a class="brand" href="/">
        <span id="make_bold">PRO</span>CIALIZE
      </a>
      <a href="/">
        <button type="button" class="btn btn-default pull-right hidden-desktop">
          <i class="icon-home icon-6"></i>
        </button>
      </a>

      <div class="container-fluid nav-collapse">
        <ul class="nav">


          <div class="hidden-desktop">
            <%= render :partial => "welcome/menu_items" %>
          </div>
        </ul>
        <% if user_logged_in? %>
            <div style="float: right">
              <ul class="nav">
                <li><%= link_to current_user.name.to_s.capitalize, edit_user_registration_path, :title => "Click to edit profile",id: 'user_name' %></li>
                <li class="pipe"></li>
                <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete,id: 'logout' %></li>
              </ul>
            </div>
        <% end %>
      </div>
      <!--/.nav-collapse -->

    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3 hidden-phone">
      <div class="well sidebar-nav main_body ">
        <ul class="nav nav-list alternate_colored_list">
          <li class="nav-header" style="padding: 0;margin-bottom: 5%"><%= image_tag Customizer.first.event_logo.url, :size => "300x300" ,class:"event_logo"%></li>
          <%= render :partial => "welcome/menu_items" %>
        </ul>
      </div>
      <!--/.well -->
    </div>
    <!--/span-->
    <!--<div class="span9 main_body hidden-desktop">-->
    <!--<div class="existing_content">-->
    <!--<%#= yield(:first_half) %>-->
    <!--</div>-->
    <!--</div>-->
    <div class="span9 main_body well " style="height: 596px;">
      <%#= bootstrap_flash %>

      <div class="row-fluid">
        <div class="span12">
          <div class="span6" style="border-right: 0px solid #aaaaaa">
            <div class="first_yield">
              <%= yield(:first_half) %>
            </div>


          </div>
          <!--<div class="span6 hidden-desktop">-->
          <!---->
          <!--</div>-->
          <div class="span6 hidden-phone">
            <div class="existing_content">
              <%= yield(:second_half) %>
            </div>

          </div>
        </div>

      </div>
      <%#= yield %>

    </div>
    <!--this is what will be seen on phone...-->

  </div>
  <!--/row-->


  <%= js add_gritter(flash[:notice], :image => :success, :title => "Success", :sticky => false, :position => "bottom_left") %>
  <%= js add_gritter(flash[:alert], :image => :error, :title => "System!", :sticky => false) %>
  <%= js extend_gritter :time => 5000, :position => :bottom_left %>


</div>
<!-- /container -->

<!-- Javascripts
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript">

    $(window).load(function () {
        $('.dropdown-toggle').dropdown();
    });

    //this is the code for multi select.
    //the plugin used is called bootstrap-multiselect
    $(document).ready(function () {



//            $("#srch").keypress(function(){
//                jQuery.expr[":"].contains = jQuery.expr.createPseudo(function(arg) {
//                    return function( elem ) {
//                        return jQuery(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
//                    };
//                });
//                srch = $(this).val();
//                $("#usr_list").find("li").hide()
//                $("#usr_list").find($("li:contains("+srch+")")).show();
//            })  ;


        if ($(".existing_content").is(":hidden"))
            $(".first_yield").addClass("existing_content");


        $(".datepicker").datepicker({
            minDate: 0,
            dateFormat: 'dd-mm-yy'
        });
        $(".timepicker").timepicker();

//            $('.textarea').wysihtml5();

        $('.multiselect').multiselect({
            includeSelectAllOption: true,
            enableFiltering: true

        });


        $(".right_link").click(function (e) {
            e.stopPropagation();
            e.preventDefault();
            $.get($(this).attr("href"), function (response) {

                $.gritter.add({
                    title: "Success",
                    text: response,
                    image: "assets/success.png"
                });
//                toggleContent($(this).parents("li").find(".goto").val(),e)

            });


        });

        $(".message_alternate_colored_list  li").click(function (e) {
            toggleContent($(this).find(".goto").val(), e)
        });

        //text color of all tabs white
        $('a[data-toggle="tab"]').css("color", "white");
        //text color of first tab(which is active) os black
//        $('a[data-toggle="tab"]:first').css("color", "white");

        //this is called when tab is toggled
//        $('a[data-toggle="tab"]').on('shown', function (e) {
//            //all inactive tabs as white
////            $('a[data-toggle="tab"]').css("color", "white");
//            //active tab text color is black
////            $(e.target).css("color", "black"); // activated tab
//
//
////                e.relatedTarget // previous tab
//        })


    });
</script>


<script type="text/javascript">
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', '<%= Customizer.first.ga_tracker_id.to_s %>', 'procialize.net');
    ga('send', 'pageview');
</script>


</body>
</html>
